.navbar.navbar-default
   .container-fluid(style="background-color:silver;")
     .navbar-header
       button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false")
         span.sr-only oggle navigation
         span.icon-bar
         span.icon-bar
         span.icon-bar
     .collapse.navbar-collapse#bs-example-navbar-collapse-1
       ul.nav.navbar-nav
         li
           a(href="#") Invitaciones impresas
             span.sr-only (current)
         li
           a(href="#") Souvenirs
       ul.nav.navbar-nav.navbar-right
         li
           a(href="#") Invitaciones digitales
         li
           a(href="#") Cotizador
   center
     img(src="images/logo.png", alt="Piña papel", style="margin-top:-60px;", width="150px") 