doctype html
html
    head
        include ./head.pug
        block title_block
            title e_commerce
        block head_block

    body
        include ./navbar.pug
        block content


        block body_block
        include ./footer.pug
        block footer_block
        script(src="js/jquery.js")
        script(src="js/bootstrap.js")