extends layout

block content
  //- h1= title
  //- p Welcome to #{title}(
  //- .col-md-4.col-md-offset-4#nombreId(style="background-color:blue;")
  //-   h1 hola mundo!

  .nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1", aria-expanded="false").navbar-toggle.collapsed
          span.sr-only Toggle navigationa(href="#") Link 
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#") Brand
      .collapse.navbar-collapse#bs-example-navbar-collapse-1
        ul.nav.navbar-nav
          li.active
            a(href="#") Link 
              span.sr-only (current)
          li
          li
            a(href="#") Link 